/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body, html {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
}

//Hide Sliders under 500px
//@media (max-width: 500px) {
//  .v-slider__container {
//    display: none !important;
//  }
//}

//Disable ripple on sliders
.v-slider-thumb__surface::after, .v-slider-thumb__surface::before, .v-slider-thumb__ripple {
  display: none;
}
